@import 'tailwindcss';

@theme {
  /* FONTS */
  --font-jost: 'Jost', sans-serif;

  /* COLOR SCHEME */
  --color-primary: #1b1b1b;
  --color-secondary: #64646a;
  --color-surface: #eeeff1;
  --color-background: #f3f4f5;
  --color-onPrimary: #ffffff;

  /* BUTTON COLORS */
}

@layer base {
  li {
    @apply capitalize relative cursor-pointer;
  }

  ul {
    @apply gap-20 font-bold hidden sm:flex;
  }

  button {
    @apply capitalize;
  }

  input {
    @apply p-3 rounded-sm border-surface border min-w-[1rem] w-fit;
  }

  /* HEADING STYLES */
  h1 {
    @apply text-8xl font-bold text-primary leading-tight tracking-tight capitalize;
  }

  h2 {
    @apply text-4xl font-bold text-primary leading-tight tracking-tight capitalize;
  }

  h3 {
    @apply text-3xl font-semibold text-primary leading-tight capitalize;
  }

  h4 {
    @apply text-2xl font-semibold text-primary leading-snug capitalize;
  }

  h5 {
    @apply text-xl font-medium text-primary leading-snug capitalize;
  }

  h6 {
    @apply text-lg font-medium text-primary leading-snug capitalize;
  }
}

.container {
  @apply max-w-[1400px] mx-auto w-full sm:px-8 px-4;
}
